#bg {
font-family: 'Open Sans', sans-serif;
background:#FFF1E6;
}

nav{
  margin: 28px;
  padding: 7px;
  font-size: 20px;
  font-weight:700;
  display: flex;
  justify-content: space-evenly;

}
a{
  text-decoration: none;
}
a:visited {
  color: #94593D;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #94593D;
  text-decoration: none;
}

/* selected link */
a:active  {
  color: #94593D;
  text-decoration: none;
}

h1{
  text-align: center;
  color: #94593D;
  margin: 10px;
}
h2 , ul{
  color: #94593D;
}

p{
  line-height: 1.5;
  color: #94593D;
}


button{
  background-color: #9b6c37; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 32px;
}


#coding img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}


.image-gallery{
  display: flex;
  justify-content: center;
}

.image-gallery img{
  margin: 10px;
  height: 300px;
  width: 210px;
}

.videos {
  display: flex;
  justify-content: center;
}

iframe {
  margin: 25px;
  width: 500px;
  height: 258.75px;
}

section {
  padding: 10px 30px;
  max-width: 1200px;
  margin: auto;

}

